* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbarimage {
    border-radius: 10%;
}

.heroesimage {
    border-radius: 10%;
}

.importanttitle {
    text-transform: uppercase;
}

.display-5 {
    text-transform: uppercase;
}

/* About */

.about {
    padding-top: 2rem;
}

.about__container h1 {
    text-transform: uppercase;
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 0 50px;
    padding-bottom: 3rem;
}

@media screen and (max-width: 700px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Products */

.wikilink {
    text-decoration: underline;
    color: white;
}

.wikilink:hover {
    color: #e5b35e;
    text-decoration: none;
}

.productstitle {
    text-align: center;
    padding-top: 10px;
}

.productsp {
    padding-bottom: 20px;
}

.img-fluid {
    border-radius: 10%;
}

/* Shop*/

.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 10rem;
}

.shop__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.shop_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 50px 50px 50px;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 2%;
    background: linear-gradient(0.40turn, #e5b35e, #75bdca, #e9b29e);
    transition: 1s ease-in-out;
}

.shop_card p {
    margin: 10px;
    padding-bottom: 20px;
}