* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbarimage {
    border-radius: 10%;
}

.heroesimage {
    border-radius: 10%;
}

.importanttitle {
    text-transform: uppercase;
}

.display-5 {
    text-transform: uppercase;
}

/* Products */

.wikilink {
    text-decoration: underline;
    color: white;
}

.wikilink:hover {
    color: #e5b35e;
    text-decoration: none;
}

.productstitle {
    text-align: center;
    padding-top: 10px;
}

.productsp {
    padding-bottom: 20px;
}

.img-fluid {
    border-radius: 10%;
}