* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbarimage {
    border-radius: 10%;
}

.heroesimage {
    border-radius: 10%;
}

.importanttitle {
    text-transform: uppercase;
}

.display-5 {
    text-transform: uppercase;
}

/* About */

.about {
    padding-top: 2rem;
}

.about__container h1 {
    text-transform: uppercase;
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 0 50px;
    padding-bottom: 3rem;
}

@media screen and (max-width: 700px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Products */

.wikilink {
    text-decoration: underline;
    color: white;
}

.wikilink:hover {
    color: #e5b35e;
    text-decoration: none;
}

.productstitle {
    text-align: center;
    padding-top: 10px;
}

.productsp {
    padding-bottom: 20px;
}

.img-fluid {
    border-radius: 10%;
}

/* Shop*/

.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 10rem;
}

.shop__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.shop_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 50px 50px 50px;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 2%;
    background: linear-gradient(0.40turn, #e5b35e, #75bdca, #e9b29e);
    transition: 1s ease-in-out;
}

.shop_card p {
    margin: 10px;
    padding-bottom: 20px;
}

.shop_card:hover:nth-child(1) {
    background-image: url('melissia-ohol-7dhnDG46L2E-unsplash.jpg');
    background-size: 100%;
    transform: scale(1.4);
    transition: 0.5 ease-in-out;
    font-size: 0;
    z-index: 1;
}

.shop_card:hover:nth-child(2) {
    background-image: url('serghei-savchiuc-tejecyNUUhs-unsplash.jpg');
    background-size: 100%;
    transform: scale(1.4);
    transition: 0.5 ease-in-out;
    font-size: 0;
    z-index: 1;
}

.shop_card:hover:nth-child(3) {
    background-image: url('ellie-ellien-04yMqTmUeHQ-unsplash.jpg');
    background-size: 100%;
    transform: scale(1.4);
    transition: 0.5 ease-in-out;
    font-size: 0;
    z-index: 1;
}

.shop_card:hover:nth-child(4) {
    background-image: url('heather-barnes-_TN1m5R1pFI-unsplash.jpg');
    background-size: 100%;
    transform: scale(1.4);
    transition: 0.5 ease-in-out;
    font-size: 0;
    z-index: 1;
}

.shop.btn:nth-child(4) {
    padding-top: 10;
}

@media screen and (max-width: 1700px) {
    .shop__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .shop_card {
        width: 325px;
        height: 325px;
    }
}

@media screen and (max-width: 900px) {
    .shop__wrapper {
        grid-template-columns: 1fr;
    }

    .shop_card {
        width: 320px;
        height: 320px;
    }
}

/* Join us */

.join__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 0 50px;
}

.join__container h1 {
    text-transform: uppercase;
}

.cookie-button {
    margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
    .join__container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Footer */

.footer_container {
    padding: 7rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container a {
    color: white;
    text-decoration: none;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_wrapper {
    display: flex;
}

.footer_more {
    width: 110px;
    padding-bottom: 2rem;
}

.footer_more h5 {
    text-transform: uppercase;
}

.footer_links a:hover {
    color: #e5b35e;
}

.media {
    max-width: 1000px;
    width: 100%;
    padding-bottom: 1rem;
}

.media_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.media_icons img {
    width: 20px;
    height: 20px;
}

.media_image {
    border-radius: 100%;
}

.footer_logo {
    font-size: 20px;
}

.media__icon {
    font-size: 20px;
}

.media_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.media_rights {
    font-size: 20px;
}